<div class="blockOutside bgWelcome">
    <!--头部数据-->
    <div class="mainrow box-shadow bg-white">
        <div class="mainitem col4 SID-user-total-spinner SID-welcome-jump" style="width: 50%;" menuId="500" subMenuId="503">
            <div class="justify bg-blue-Quick"><span class="fhicon-user"></span></div>
            <div class="justify-arrow"><i class="fhicon-arrowR"></i></div>
            <div class="justify-content">
                <span class="num SID-user-total"></span><br />
                <small>您有0条预约需要审批，请进入预约审批查看详细信息</small>
            </div>
        </div>
        <div class="mainitem col4 SID-devices-total-spinner SID-welcome-jump" style="width: 50%;" menuId="600" subMenuId="605">
            <div class="justify bg-green-Quick"><span class="fhicon-user"></span></div>
            <div class="justify-arrow"><i class="fhicon-arrowR"></i></div>
            <div class="justify-content">
                <span class="num SID-devices-total"></span><br />
                <small>您有0条异常需要处理，请进入异常汇报查看详细信息</small>
            </div>
        </div>
        <div class="clear"></div>        
    </div>
    

</div>