<div class="fixed-header SID-header-snippent">
	<div class="header-logoarea">
    </div>
    <div class="header-info">
        <a class="top-home SID-welcome"><span class="fhicon-home"></span></a>
        <a class="top-exit SID-logout"><span class="fhicon-close"></span></a>
    </div>
</div>

<!--左侧-->
<div class="SID-menu-snippet">
</div>


<!--右侧-->
<div class="fixed-center fixed-centerW SID-main-container-snippet">
	<div class="SID-welcome-snippent"></div>
	<div class="SID-room-snippent"></div>
	<div class="SID-reserved-snippent"></div>
	<div class="SID-privilege-snippent"></div>
	<div class="SID-statistics-snippent"></div>
</div>

<!--底部-->
<div class="fixed-footer SID-footer-snippent">
    <span>Copyright◎xxxx公司</span>
</div>

<div class="SID-menuClick-cover" style="display:none;width:500px;height:1300px;z-index:100;"></div>