<div class="outmain-cons">
    <div class="main-cons">
    <form id="formMsg" onkeypress="if(event.keyCode==13||event.which==13){return false;}">
    <input type="hidden" name="roomId" id="roomId" value=""/>
    <input type="hidden" name="imagePath" id="imagePath" value=""/>
        <div class="formBox">
            <div class="form-item">
                <label class="form-item-label"><span>*</span>用户组名称：</label>
                <div class="form-item-editbox"><input class="form-item-text {required: true,maxlength:20} " type="text" placeholder="最多输入20个字" id="SID-roomName" name="roomName"/></div>
            	<div class="form-item-tip"><div class="wrong-text"></div></div>
            </div>
        </div>
    </form>
	</div>
</div>